{{- if .Values.security.podSecurityPolicy.enabled }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: {{ include "dhi-cert-manager.fullname" . }}-restricted
  labels:
    {{- include "dhi-cert-manager.labels" . | nindent 4 }}
spec:
  privileged: false
  allowPrivilegeEscalation: false
  requiredDropCapabilities:
    - ALL
  volumes:
    - 'configMap'
    - 'emptyDir'
    - 'projected'
    - 'secret'
    - 'downwardAPI'
    - 'persistentVolumeClaim'
  runAsUser:
    rule: 'MustRunAsNonRoot'
  seLinux:
    rule: 'RunAsAny'
  fsGroup:
    rule: 'RunAsAny'
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "dhi-cert-manager.fullname" . }}-psp-user
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dhi-cert-manager.labels" . | nindent 4 }}
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs: ['use']
  resourceNames:
  - {{ include "dhi-cert-manager.fullname" . }}-restricted
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "dhi-cert-manager.fullname" . }}-psp-user
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "dhi-cert-manager.labels" . | nindent 4 }}
roleRef:
  kind: Role
  name: {{ include "dhi-cert-manager.fullname" . }}-psp-user
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: {{ include "dhi-cert-manager.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}

{{- if .Values.security.podDisruptionBudget.enabled }}
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "dhi-cert-manager.fullname" . }}-cert-manager
  namespace: cert-manager
  labels:
    {{- include "dhi-cert-manager.labels" . | nindent 4 }}
spec:
  minAvailable: {{ .Values.security.podDisruptionBudget.minAvailable }}
  selector:
    matchLabels:
      app.kubernetes.io/name: cert-manager
      app.kubernetes.io/component: controller
{{- end }}